<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <!-- <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/logo.svg" width="48" height="48" alt="Compass"></div>
            <p>Please wait...</p>
        </div> -->
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- Top root -->
    <app-header></app-header>
    <!-- Left sidebar -->
    <app-sidenavbar></app-sidenavbar>
    <!-- footer -->
    <app-foter></app-foter>
</body>