<body class="theme-cyan">
  <!-- Page Loader -->
  <div class="page-loader-wrapper">
    <!-- <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/logo.svg" width="48" height="48" alt="Compass"></div>
            <p>Please wait...</p>
        </div> -->
  </div>
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- Top root -->
  <app-header></app-header> 
  <!-- Left sidebar -->
  <app-sidenavbar></app-sidenavbar>

  <section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>{{formType}} Product
            <!-- <small class="text-muted">Welcome to Compass</small> -->
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item"><a href="dashboard"><i class="zmdi zmdi-home"></i>Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Product</a></li>
            <li class="breadcrumb-item active">{{formType}} 1`Product</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Input -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <form [formGroup]="form" action="#">
              <!-- <div class="header"> -->
              <!-- <h2><strong></strong> <small>Different sizes and widths</small> </h2> -->
              <!-- </div> -->
              <div class="body">
                <h2 class="card-inside-title">
                  <h3><strong>Product</strong></h3>
                </h2>
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <h4>Product Name</h4>
                    <div class="form-group">
                      <input type="text"  #product_name  [(ngModel)]="product.product_name"class="form-control" formControlName="product_name" id="product_name"
                        placeholder="Enter Product Name" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h4>Product Type</h4>
                    <div class="form-group">
                      <input type="text" #product_type class="form-control" formControlName="product_type" [(ngModel)]="product.product_type" id="product_type"
                        placeholder="Product Type" />
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <h4>Price</h4>
                    <div class="form-group">
                      <input type="text" class="form-control" #price [(ngModel)]="product.price" formControlName="price" id="price" min="0" value="0" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h4>Discount</h4>
                    <div class="form-group">
                      <input type="number" class="form-control" #discount  [(ngModel)]="product.discount" formControlName="discount" id="discount" min="0"
                        value="0" />
                    </div>
                  </div>
                </div>

                <div *ngIf="currentUpload">
                  <div class="progress">
                    <div class="btn btn-raised btn-primary btn-round waves-effect"
                      [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                  </div>
                  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                </div>
                <div class="row clearfix">
                  <i class="zmdi zmdi-upload btn-raised btn-primary btn-round waves-effect"
                    onclick="document.getElementById('fileToUpload').click()"></i>
                  <label>
                    <input type="file" id="fileToUpload" style="display: none;" (change)="detectFiles($event)">
                  </label>

                  <button [disabled]="!selectedFiles" (click)="uploadSingle()"
                    class="btn btn-raised btn-primary btn-round waves-effect">
                    Upload Single
                  </button></div>
                <!-- 
                <label>
                  <input type="file" (change)="detectFiles($event)" multiple>
                </label>  -->

                <!--         <button [disabled]="!selectedFiles" (click)='uploadMulti()'>

                  Upload Multiple
                </button> -->
                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4><strong>Description</strong></h4>
                    <div class="row clearfix">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <div class="form-line">
                            <textarea  #description [(ngModel)]="product.description" rows="4" class="form-control" formControlName="description" id="discription"
                              placeholder="Please type what you want..."></textarea>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <div class="form-actions" style="padding-left: 383px;">
                <button type="button" (click)="addProduct()" class="btn btn-raised btn-primary btn-round waves-effect">
                  {{formButon}}</button>
                <button type="button" class="btn btn-raised btn-primary btn-round waves-effect">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <app-foter></app-foter>
</body>
